<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975940971559-5tcb313vo0r93nduhcr3cglu3jdlnqul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975940971559-5tcb313vo0r93nduhcr3cglu3jdlnqul</string>
	<key>API_KEY</key>
	<string>AIzaSyA4evW1vIu59ekAP_uMjBKb5AQoS2pEeCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>975940971559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSample</string>
	<key>PROJECT_ID</key>
	<string>test-1b9a9</string>
	<key>STORAGE_BUCKET</key>
	<string>test-1b9a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975940971559:ios:41e0a32b8ce22d6f4f3202</string>
</dict>
</plist>